{% extends 'sign_layout.html' %}

{% block content %}
	<form class="form-signin" action="/signin" method="post">
		<h2>登录</h2>
        <input type="text" id="username" class="form-control" placeholder="用户名" name="username" required autofocus>
        <input type="password" id="password" class="form-control" placeholder="密码" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
    <p>{{message}}</p>
{% endblock %}

{% block js %}
<!-- <script>
  $('.form-signin').submit(function(){
    var username = $('#username').val()
    var password = $('#password').val()
    $.post('/signin',{'username':username,'password':password},function(res){
      if(res == 'error'){
        $('#username').val('')
        $('#password').val('')
        $('#message').html('username or password error')
      }
      else{
        console.log(res)
        window.location.href='/common/stuff'
      }
    }) 
    return false
  })
</script> -->
{% endblock %}